doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Home page
  body
    h1 Looks like this page is being rendered from Pug into HTML!
    p You have successfully set up Pug with Express. Excellent work!
